#title-table {
  background-color: #829615 !important;
  color: #fff !important;
}
.form-check-input::after {
  background-color: green !important;
  display: inline-block;
  visibility: visible;
}
#button-action {
  background-color: #829615 !important;
  color: #fff !important;
}
#sidebar {
  background-color: black;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  background-color: #829615;
}
.nav-link {
  cursor: pointer;
}
